<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">


<listeners>
		<listener class-name="extendReport.ExtentTestNGIReporterListener" />
</listeners>

  <test name="ChromeTest" thread-count="2" parallel="classes">
  <parameter name="browser" value="Chrome"/>
    <classes>
    <class name="TestNG_Pack.LoginPage_TestClass"/>
       <class name="TestNG_Pack.CreateAcc_TestClass"/>
       
         
         
    </classes>
  </test> <!-- Test1 -->
  

  
</suite> <!-- Suite -->
